@model PlatUni.Models.Course

<h2>Editar Curso</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CourseId" />
    <div class="form-group">
        <label asp-for="CourseName" class="control-label"></label>
        <input asp-for="CourseName" class="form-control" />
        <span asp-validation-for="CourseName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
