@model PlatUni.Models.Student

<h2>Registro de Nuevo Estudiante</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FirstName">Nombre</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Apellidos</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Correo Electronico</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 1%;">Guardar</button>
    <a asp-controller="Students" asp-action="Index" class="btn btn-primary" style="margin-top: 1%;">Volver</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
