@model PlatUni.Models.Student

<h2>Confirmar Eliminación</h2>

<p>¿Estás seguro de que quieres eliminar este estudiante?</p>

<div>
    <h4>Detalles del Estudiante:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre:</dt>
        <dd class="col-sm-10">@Model.FirstName @Model.LastName</dd>
        <dt class="col-sm-2">Correo Electrónico:</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="StudentId" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
