@model IEnumerable<string>

@{
    ViewData["Title"] = "Confirmación de Inscripción";
}

<h1>Confirmación de Inscripción de Cursos</h1>

<p>Los siguientes cursos han sido inscritos exitosamente:</p>
<ul>
    @foreach (var courseName in Model)
    {
        <li>@courseName</li>
    }
</ul>

<div>
    <a asp-action="Index" asp-controller="Home">Volver al Inicio</a>
</div>
